/2nd Year/2nd Semester/Human Machine Interaction/SamuelSánchezGonzález/nbproject/private/
/2nd Year/2nd Semester/Human Machine Interaction/HCI6/nbproject/private/
/2nd Year/2nd Semester/Human Machine Interaction/HCISession8/nbproject/private/
.DS_Store
./venv_stable
.DS_Store
4th Year/IntNeg/Practica 1/scripts/.DS_Store
4th Year/IntNeg/Practica 1/.DS_Store
